@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  color: #0066cc;
  margin: 0;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

small {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
  color: #555;
  width: 100%;
  white-space: normal;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#output {
  margin-top: 20px;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  margin: 5px 0;
}

button[type="submit"] {
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #004999;
}

.clear-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.clear-button:hover {
  background-color: darkred;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.translation-select {
  margin-left: auto;
}

.translation-select select {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
}

.verse-count {
  padding-left: 20px;
  font-size: 16px;
  align-self: center;
}

.verse-chunk-container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;
}

.verse-chunk {
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verse-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}


.copy-button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  white-space: nowrap;
}

.copy-button.copied {
  background: #0066cc;
}


.error {
  color: red;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
}

/* App.css */

/* Save Button */
.save-button {
  background-color: #0066cc; /* Blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px; /* Space between Save and Cancel buttons */
  border-radius: 4px;
}

.save-button:hover {
  background-color: #004999; /* Darker blue on hover */
}

/* Cancel Button */
.cancel-button {
  background-color: #ccc; /* Grey color */
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.cancel-button:hover {
  background-color: #999; /* Darker grey on hover */
}


.tabs {
  margin-bottom: 20px;
}

.tabs button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.tabs button.active {
  background-color: #0066cc;
  color: white;
  border-color: #004999;
}

button.fetch-button {
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
}

button.fetch-button:hover {
  background-color: #004999;
}